
body {
  font-family: 'Roboto Slab', sans-serif;
  background: white;
  color: #484848;
  padding: 40px;
}

input {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #cfcfcf;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  outline: none;
}

pre, code {
  font-family: 'Roboto Mono', Monaco;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #999;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  border-bottom: 2px solid #797979;
  
  &:hover {
    background-color: #a1a1a1;
  }

  &:active {
    background-color: #888;
  }
}

form {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.res-block {
  display: inline-block;
}

h3 {
  margin-top: 0;
}


/* Table */

#tableId {
  border-collapse: collapse;
  width: 100%;
}

#tableId table, th, td {
  /* border: 1px solid black; */
}

#tableId th {
  height: 25px;
  text-align: left;
}

#tableId th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tableId tr:hover {background-color: #ddd;}
#tableId tr:nth-child(even){background-color: #f2f2f2;}



/* Form */

.calcForm {
  padding: 10px;
  border: #989ba2 solid 1px;
  margin: 10px;

}

.calcForm form {
  margin: 0 auto;
  position: relative;

}

.inputRow {
  width: auto;
  display: flex;
}


fieldset {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

fieldset input {
  width: auto;
}

fieldset label {
  margin-left: 5px;
}


input, textarea, select, button {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}

.calcForm button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


.heightRow {
  padding-top: 0px;
  width: auto;
  display: flex;
}

.heightRow label {
  display: flex;
}


.heightSpan {
  width: 30%;
  padding: 5px;
}


.fieldBold {
  font-weight: bold;
}

/* End Form CSS */




/* Stats And Calc */

.calcAndStat{
  display: flex;
}

/* body {
  font-size: 16px !important;
  font-family: 'Roboto', sans-serif !important;
  color: #555 !important;
} */

h4 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.btn {
  box-shadow: 2px rgba(0, 0, 0, .05) !important;
  width: 25%;
}


.navbar-brand {
  font-size: x-large !important;
}

.navbar-default .navbar-brand {
  color: white !important;
}

.navbar-default {
  background-color: #333743 !important;
  color: black;
}

.navbar-top-links li {
  display: inline-block !important;
}

.sidebar .sidebar-nav.navbar-collapse {
  height: -webkit-fill-available;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

label {
  font-weight: 500 !important;
}

.nav>li>a {
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 15px !important;
  }

  .sidebar {
    z-index: 1;
    position: absolute;
    width: 75px;
    margin-top: 51px;
  }

  #page-wrapper {
    position: inherit;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }

  .panel {
    margin: 0;
  }

  .panel-body {
    padding: 5px !important;
  }

  .sidebar {
    z-index: 1;
    position: absolute;
    /* width: 50px; */
    margin-top: 51px;
    height: -webkit-fill-available;
  }


  #calcForm {
    font-size: 14px !important;
  }

  .formControl {
    font-size: 12px !important;
  }
}


.form-label-group label {
  display: flex;
  padding: 2px;
}

.col-xs-4 {
  padding-right: 5px !important;
  padding-left: 0 !important;
}

.col-xs-6 {
  padding-right: 5px !important;
  padding-left: 0 !important;
}

.col-xs-12 {
  padding-right: 5px !important;
  padding-left: 0 !important;
}


.formControl::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  text-indent: 20%;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}


.btn-warning {
  color: #fff;
  background-color: #cea46a !important;
  border-color: #eea236c2 !important;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4f0 !important;
}

.statGroup {
  display: flex;
  margin-bottom: 0 !important;

  height: max-content;
  flex-direction: column;
  border: #989ba2 solid 1px;
  margin: 10px;
  padding: 10px;
}

@media only screen and (min-width: 601px) {
  .formControl {
    width: 90%;
    font-size: 14px;
    text-align: center;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
  }

  .chartRow {
    display: none;
  }

  #breadcrumb {
    display: none;
  }

  .statItem {
    font-size: 14px;
    padding: 5px 10px !important;
    min-height: 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  h4 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .panel-body {
    padding: 5px !important;
  }

  .sidebar-nav {
    display: none;
  }

  .sidebar {
    display: none;
    color: red;
  }

  .panel-heading {
    padding: 4px !important;
    background: white;
  }

  .form-group {
    margin-bottom: 0;
    padding: 0;
  }

  .form-label-group {
    font-size: 14px;
  }

  #activityLevel .form-label-group {
    text-align: center;
  }

  .formControl {
    color: #333;
    display: flow-root;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: .5px solid #ccc;
  }

  .Statgroup {
    flex-wrap: wrap;
  }

  .statItem {
    display: inline-grid !important;
    width: 50%;
  }

  .statItem:last-child {
    display: flex !important;
    flex-direction: column;
  }

  .hidden {
    display: none;
  }
}

#maleOrFemale {
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  display: inline-flex;
  display: flex;
  justify-content: center;
}

#maleOrFemale label {
  letter-spacing: .75px;
  margin: 3px;
}


#activityLevel {
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  display: flex;
  flex-direction: column;
}

#activityLevel div {
  display: flex;
}

#activityLevel div label {
  margin: 0;
  padding: 0;
}

#activityLabel {
  font-weight: bold;
}

#activityLevel .form-label-group label {
  font-weight: normal;
  margin: 2px;
}

.nav a {
  color: #f5f5f5;
  padding: 1rem 1.25rem !important;
}

.panel {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05) !important;
  border: 1px solid #e3e8ec !important;
}

.statItem {
  border: 1px solid #e3e8ec78 !important;
  padding: 10px !important;
  display: flex !important;
  flex-direction: column;
}

.panel-heading {
  background-color: white !important;
  border-color: #ddd0 !important;
}

.btn-block+.btn-block {
  margin-top: 0px !important;
}

.btn-row {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.btn-block {
  padding-left: 3rem;
  padding-right: 3rem;
}

#wrapper {
  width: 100%;
  background: #333a41 !important;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 20px;
    border-left: 1px solid #e7e7e7;
  }

  .boxRow {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .chartRow {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .panel {
    margin: 5px;
  }

}

@media (min-width: 1024px) {
  .form-label-group label {
    padding: 10px;
  }
}

.statItem span {
  min-height: 20px !important;
  font-weight: bold;
  float: right;
  color: #333;
}
